.education{
  font-weight: bolder;
  font-size: 20px;
  color: white;
}
.education-content p{
  color: white;
}
.single-feature .desc{
  text-align: center;
}
.resume button{
  float: right;
  margin-bottom: 10%;
}
.logoText{
  font-size: 20px;
  font-weight: bolder;
}
.foot-resume{
  float: right;
  margin-bottom: 10%;
}
.skill-name{
  font-weight: bold;
}
/*.header-box{
  border-left: #333a56 4px solid;
}*/
.checkmark{
  color: #333a56;
  font-size: 20px;
}
.single-feature{
  width: 100%;
}
.feature-area .icon:hover{
  background: #f0f8e9 !important;
}
.feature-area .icon{
  color: #333a56 !important;
}
.counter-left h2{
  font-size: 77px;
  font-weight: 400;
  color: #333a56;
  /*text-shadow: 2px 2px 1px black;*/
}
.counter-left{
  text-align: center;
}
.faq-area{
  background: url(../img/counter.jpg) no-repeat center center/cover;
}
/*.foot-resume{
  background: 0 !important;
  color: #333a56 !important;
  font-size: 40px;
}
.foot-resume:hover{
  border: 0 !important;
}*/
.foot-resume p{
  display: block;
  font-size: 20px;
}
.img-fluid{
  animation-duration: 2s;
  animation-name: slideUp;
}

.story-content .sp-1{
  animation-duration: 1s;
  animation-name: slideDown;
}

.sp-2{
  animation-duration: 1s;
  animation-name: slideUp;
}

@keyframes slideUp {
  from {
    margin-bottom: 100%;
  }

  to {
    margin-bottom: 0%;
  }
}

@keyframes slideUp {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}