/* html {
    scroll-behavior: smooth;
} */

body {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 7.5rem;
    width: 100%;
    /*Fix for nav baar*/
}

.test-text {
    margin: auto 0;
    position: fixed;
    top: 0px;
    left: 40%;
}


/**************************************************************************/


/* NAV CSS - Start */

nav {
    min-height: 7.5rem;
}

.nav-animate {
    position: fixed;
    left: 100%;
    margin-top: 5px;
    min-height: 7rem;
    /*Change this height as per class img-brand*/
    width: 350px;
    z-index: 700;
}

.nav-animate-btn {
    cursor: pointer;
    color: rgba(0, 0, 0, .5);
    /* border-color: rgba(0,0,0,.1); */
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    /* border-radius: .25rem; */
    border: none;
    z-index: 950;
}

.img-brand {
    max-width: 7rem;
    max-height: 7rem;
}

.transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/* NAV CSS - END */


/****************************************************************************/


/******************************************************************************/


/* COLOR CSS - START */

.color-orange {
    color: #fc4a1a;
}

.color-dark-blue {
    color: #333a56;
}

.color-white {
    color: #ffffff;
}

.color-black {
    color: #000;
}

.color-lightgray {
    color: gray;
}


/* COLOR CSS - END */


/******************************************************************************/


/******************************************************************************/


/* COMMON CSS - START */

.display-none {
    display: none !important;
}

html {
    font-size: 100%;
}


/* COMMON CSS - END */


/******************************************************************************/


/******************************************************************************/


/* FONT CSS - START */

body {
    font-family: 'Cabin', sans-serif;
}

.font-Bigger-heading,
h1,
h2,
h3,
h4 {
    font-family: 'Cabin Sketch', cursive;
}

.font-40 {
    font-size: 2.5rem;
}

.font-60 {
    font-size: 3.75rem;
}

.font-72 {
    font-size: 4.5rem;
}


/* FONT CSS - END */


/******************************************************************************/


/******************************************************************************/


/* BULB CSS - START */

.light-bulb-off {
    margin: auto 0;
    position: fixed;
    top: -450px;
    left: 40%;
}


/* BULB CSS - END */


/******************************************************************************/


/******************************************************************************/


/* Template CSS - START */

.icon-default {
    font-size: 3.75rem;
    color: red;
}

img {
    max-width: 100%;
}


/* Template CSS - END */


/******************************************************************************/

@media screen and (max-width: 900px) {
    .container {
        padding-bottom: 30%;
    }
    p {
        line-height: 100%
    }
    body {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-bottom: 40%;
    }
    p {
        line-height: 100%
    }
    body {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding-bottom: 50%;
    }
    p {
        line-height: 100%
    }
    body {
        font-size: 1rem;
    }
}